name: Validate

run-name: 1.0.0.${{ github.run_number }}

on:
  pull_request_target:
    branches:
      - master

env:
  _IS_BUILD_CANARY: false
  _IS_GITHUB_RELEASE: false
  _RELEASE_NAME: JunctionVIIICatalogs
  _RELEASE_VERSION: v0
  _BUILD_BRANCH: "${{ github.ref }}"
  _BUILD_VERSION: "1.0.0.${{ github.run_number }}"
  GIT_REDIRECT_STDERR: 2>&1

jobs:
  CI:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 1440
    strategy:
      max-parallel: 1
    steps:
      - name: Set Git Config
        run: |
          git config --global core.autocrlf false
          git config --global core.filemode false
          git config --global core.longpaths true
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
      - name: Set execute permission for prepare.sh
        run: chmod +x .github/workflows/prepare.sh
      - name: Prepare Env
        run: .github/workflows/prepare.sh
        shell: bash
      - name: Set execute permission for validate.sh
        run: chmod +x .github/workflows/validate.sh
      - name: Run Validation
        run: .github/workflows/validate.sh
      - name: Post warnings as PR comment
        if: always()
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            const output = fs.readFileSync('validation_results.md', 'utf8');
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: output
            });

